<section fxLayout fxLayoutAlign="center" class="training-container">
  <form [formGroup]="exerciseForm" (submit)="onStartTraining()">
      <mat-card fxFlex.xs="100" fxFlex="400px">
          <mat-card-title fxLayoutAlign="center">
            New Training Session
          </mat-card-title>
          <mat-card-content fxLayoutAlign="center">
            <mat-form-field *ngIf="!isLoading">
                <mat-select placeholder="Select an exercise" formControlName="exerciseId">
                    <mat-option *ngFor="let exercise of exercises | async" [value]="exercise.id">{{ exercise.name }}</mat-option>                               
                </mat-select>
            </mat-form-field>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button color="accent" [disabled]="!exerciseForm.valid">Start Training</button>
          </mat-card-actions>
        </mat-card>
  </form>
</section>

