<section fxLayout fxLayoutAlign="center" class="training-container">
  <form [formGroup]="exerciseForm" (submit)="onStartTraining()">
      <mat-card fxFlex.xs="100" fxFlex="400px" *ngIf="(exercises$ | async) as exercises; else reload">
          <mat-card-title fxLayoutAlign="center">
            New Training Session
          </mat-card-title>
          <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-select placeholder="Select an exercise" formControlName="exerciseId">
                    <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">{{ exercise.name }}</mat-option>
                </mat-select>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button color="accent" [disabled]="!exerciseForm.valid">Start Training</button>
          </mat-card-actions>
        </mat-card>
        <ng-template #reload>
            <button mat-raised-button color="accent" (click)="fetchExercises()" *ngIf="!(isLoading$ | async); else loading">Reload Exercises</button>
            <ng-template #loading>
                <mat-spinner></mat-spinner>
            </ng-template>
          </ng-template>
  </form>
</section>

