<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button color="accent" (click)="onToggleSideNav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Fitness Tracker</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px" fxHide.xs>
        <a routerLink="/signup" *ngIf="!isAuthenticated">Sign up</a>
        <a routerLink="/login" *ngIf="!isAuthenticated">Login</a>
        <a routerLink="/training" *ngIf="isAuthenticated">Training</a>
        <a (click)="logout()" *ngIf="isAuthenticated">Logout</a>
    </div>
</mat-toolbar>